/*
#  ·················
#  ··_______________
#  ·/·___/·___/·___/
#  /·/__(__··|__··)·
#  \___/____/____/··
#  ·················
*/

/*------ Variables */
:root{
  /*------ Colores */
  --green-color: #7ACC2D;
  --black-color: #313337;
  --white-color: white;
  /*------ Tipografía */
  --normal:12px;
  /*------ Espaciado */
  --space:10px;
  --space-2:20px;
}

/* -------------------------------------------  */
html, body{
  margin:0;
  padding: 0;
  font-family: helvetica;
  color: var(--black-color);
}

p{
  font-size: var(--normal);
}

nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: var(--space);
  min-height: 60px;
  background-color: var(--green-color);
}

nav a{
  text-decoration: none;
  color: var(--black-color);
  font-size: var(--normal);
}

nav a:hover{
  color: var(--white-color);
}

nav ul {
  display: flex;
}

nav ul li{
  padding-right: 20px;
  list-style: none;
}

hr{
  opacity: .2;
}

/* ------------------------------------------- MAIN SECTION */

.main_section{
  text-align: center;
  padding: 15%;
}

/* -------------------------------------------  PRODUCTOS */

.image-product1{
  background-image: url("../images/ben2.png");
  padding: 2%;
  background-position: center top;
  background-repeat: no-repeat;
  display: flex;
  height: 125px;
  width: 60px;
  background-size: cover;

}

.image-product2{
  background-image: url("../images/ben3.png");
  padding: 20%;
  background-position: center top;
  background-repeat: no-repeat;
  display: flex;
  height: 10%;
  width: 10%;
  background-size: cover;

}



.product .content{
  background-color: white;
  padding: 10px;
  box-shadow: 0 0 1px #c1bcbc; /* sombreado el primer numero es hacia la x, el segundo hacia
  la y y el tercero es el difumado*/
}
.img_content{
  text-align: center;
}
.text{
  padding: 100px;
}

  /* ------------------------------------------- Footer */
footer{
  display: flex;
  justify-content: space-between;
  font-size: var(--normal);
  background-color: var(--black-color);
  padding: var(--space);
  color: var(--white-color);
}

